@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MERCADO IGL</h1>
    <img src="https://seeklogo.com/images/C/Carrinho_de_Compras-logo-F251151A71-seeklogo.com.png" alt="">
    <br />
    <br />
    <p>Sistema Gerenciador de SuperMercado</p>
</div>
